<div class="border">
    <h1><%= @sub.title %></h1>
    <p><b>Description</b></p>
    <p><%= @sub.description %></p>
    <a href="<%= new_post_url %>">Make New Post!</a>
    <!-- <a href="<%= edit_sub_url(@sub) %>">Edit</a> -->

    <ul>
        <% @sub.posts.each do |post| %>
        <li><%= link_to post.title, post_url(post)  %></li>
        <% end %>
    </ul>
</div>